@layout AdminLayout
@page "/admin/sektor"

<h1>Input Data Sektor</h1>

<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card ">
            <div class="card-header">
                @* <h3 class="card-title">Tambah Berita</h3> *@


            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Sektor</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Sektor">
                    </div>
                    <div class="form-check">
                        <button type="submit" class="btn btn-primary">Kirim</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>