@layout AdminLayout
@page "/admin/sektor"
@inject HttpClient Http


<h1>Input Data Sektor</h1>

<section class="content">
    <div class="container-fluid">

        <!-- general form elements -->
        <div class="card ">
            <div class="card-header">
                @* <h3 class="card-title">Tambah Berita</h3> *@


            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="form-group">
                        <label>Sektor</label>
                        <InputText></InputText>
                    </div>
                    <div class="form-check">
                        <button type="submit" class="btn btn-primary">Tambah</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@code{


    public Sektor sektor { get; set; } = new Sektor();

}
